button{
        background-color:#e2e2e2;
        border-radius:10px;
        }
        button:hover{
                transition: 0.4s;
                background-color: #d2d2d0;
                box-shadow: 0 0 0 2px #d0d0cf;
        }
        button:active{
                background-color: #c6c6c4;
        }

.login_label{
        border-radius: 1px;
        background-color: #0043FF;
        color: #FFFFFF;
}


.uid_label{
        border-radius: 1px;
        background-color: #FF0A01;
        color: #FFFFFF;
}
